.color-container
.signup-container
  .signup-container2
    .signup_title
    = form_for(resource, as: resource_name, url: session_path(resource_name)) do |f|
      .field
        = f.label :メールアドレス, class: "field"
        %br/
        = f.email_field :email, autofocus: true, autocomplete: "email"
      .field
        = f.label :パスワード, class: "field"
        %br/
        = f.password_field :password, autocomplete: "current-password"
      .actions
        = f.submit "Log in",class: :sign_submit
.color-container