.album-box
  = link_to image_path(image) do
    = image_tag"#{image.image}", alt: "", class: "album_image"
    .album-box-text
      .album-text-box
        #{image.date_year}年#{image.date_month}月#{image.date_day}日