= render partial: "images/header"
.pickup-container4
  .user_names
    .circle-1 月曜クラス
    - @users.where(class_day_id:1).each do |user|
      = link_to user_album_show_path(user) do
        %p #{user.name}
  .user_names
    .circle-2 火曜クラス
    - @users.where(class_day_id:2).each do |user|
      = link_to user_album_show_path(user) do
        %p #{user.name}
  .user_names
    .circle-3 金曜クラス
    - @users.where(class_day_id:3).each do |user|
      = link_to user_album_show_path(user) do
        %p #{user.name}
= render partial: "images/footer"