= render partial: "header"
.pickup-container6
  .pickup-container6__container
    %h4.new_image_head 作品情報入力
    = form_for @image, html: {class: "sell-form dropzone", id: "item-dropzone"} do |f|

      .field1
        = f.label :image, class: "pload__drop__box__preview" do
          .upload__drop__box__imageview
            = f.file_field :image, class:"file",style:"display:none;"
            %pre
              #preview
                クリックしてファイルをアップロード
      .field2
        = f.label :"生徒名", class: "field"
        %br/
        = f.collection_select :user_id, User.all, :id, :name,{prompt: '---'}, class: "select__default"
      .field3
        = f.label :"作品データ", class: "field"
        %br/
        %ul.date--field
          %li.date--list
            = f.select :date_year,[*(2019..2100)],prompt:"---", class: "date--select"
          .date_year
            年
          %li.date--list
            = f.select :date_month,[*(1..12)],prompt:"---", class: "date--select"
          .date_month
            月

      .actions
        = f.submit "アップロード",class: "image_submit"

= render partial: "footer"