= render partial: "header"
.pickup-container2
  .pickup_image_box
    = image_tag"#{@user.images.order("created_at DESC")[0]&.image}", alt: "", class: "pickup-image"
  .pickup_data
    %p.date_title #{@user.name}さん
    %p.date_ &#x1f338;日付&#x1f338;</br>#{@user.images[0]&.date_year}年#{@user.images[0]&.date_month}月#{@user.images[0]&.date_day}日</br>
  .pickup_user_album_name
    = link_to user_album_show_path(@user) do
      アルバムを見る
  .pickup_user_delete
    = link_to image_path, method: :delete, data: { confirm: '本当に削除しますか？' } do
      この画像を削除する
  .pickup_user_delete
    = link_to user_path(@user), method: :delete, data: { confirm: '本当に削除しますか？' } do
      ユーザーを削除する
= render partial: "footer"